<?xml version="1.0" encoding="utf-8"?>
<!--
  Bo cai PlumbingSolution Revit 2024 bang WiX (build duoc khong can Visual Studio: dotnet build).
  Bo cuc file (cai cho rieng user, khong can quyen admin):
    %AppData%\Autodesk\ApplicationPlugins\PlumbingSolution.bundle\PackageContents.xml
    ...\PlumbingSolution.bundle\Contents\2024\PlumbingSolution.addin
    ...\PlumbingSolution.bundle\Contents\2024\PlumbingSolution\PlumbingSolution.dll, Newtonsoft.Json.dll, hwid.dll
    ...\PlumbingSolution.bundle\Contents\2024\PlumbingSolution\Icon\*.png
  UpgradeCode rieng cua PlumbingSolution (KHONG dung chung voi SmartTag, neu khong cai ban nay se go SmartTag).
  Giu co dinh UpgradeCode: cai MSI moi se tu go moi ban cu hon.
  CANH BAO: them / doi file add-in thi PHAI sua o day.
-->
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Plumbing Solution 2024" Manufacturer="FlashBim" Version="$(var.MsiVersion)" Language="1033"
           UpgradeCode="{30E0D4EC-90DF-484D-BA93-CFBFC4A71A6F}" Scope="perUser">
    <MajorUpgrade AllowSameVersionUpgrades="yes"
                  DowngradeErrorMessage="A newer version of PlumbingSolution 2024 is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="AppDataFolder">
      <Directory Id="AutodeskDir" Name="Autodesk">
        <Directory Id="PluginsDir" Name="ApplicationPlugins">
          <Directory Id="BundleDir" Name="PlumbingSolution.bundle">
            <Directory Id="ContentsDir" Name="Contents">
              <Directory Id="YearDir" Name="2024">
                <Directory Id="AddinDir" Name="PlumbingSolution">
                  <Directory Id="IconDir" Name="Icon">
                    <Directory Id="PreviewDir" Name="Preview">
                      <Directory Id="PreviewFireDir" Name="DIRIT FIRE" />
                      <Directory Id="PreviewMech2Dir" Name="DIRIT MECH 2" />
                    </Directory>
                  </Directory>
                  <Directory Id="LanguageDir" Name="Language" />
                  <Directory Id="FamilyDir" Name="Family">
                    <Directory Id="PipeFittingsDir" Name="Pipe Fittings" />
                  </Directory>
                </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </StandardDirectory>

    <Feature Id="Main" Title="Plumbing Solution 2024">
      <ComponentGroupRef Id="AddinFiles" />
    </Feature>
  </Package>

  <!--
    Cai vao ho so user (AppData) thi Windows Installer bat: moi component lay mot gia tri HKCU lam KeyPath (ICE38) va
    moi thu muc tao ra phai co RemoveFolder (ICE64). RemoveFolder chi xoa thu muc RONG, nen Autodesk\ApplicationPlugins
    cua add-in khac khong bi dung toi.
    GUID component CO DINH (WIX0230: component co file + KeyPath registry khong tu sinh GUID duoc) - dung doi.
  -->
  <Fragment>
    <ComponentGroup Id="AddinFiles">
      <Component Id="BundleFiles" Guid="{F72E77D4-D9A4-4C8C-8EDE-43CFB166D11F}" Directory="BundleDir">
        <File Id="PackageContents" Source="$(var.SourceRoot)\Output\PackageContents.xml" />
        <RegistryValue Root="HKCU" Key="Software\FlashBim\PlumbingSolution2024" Name="Bundle" Type="integer" Value="1"
                       KeyPath="yes" />
        <RemoveFolder Id="RemoveAutodeskDir" Directory="AutodeskDir" On="uninstall" />
        <RemoveFolder Id="RemovePluginsDir" Directory="PluginsDir" On="uninstall" />
        <RemoveFolder Id="RemoveBundleDir" Directory="BundleDir" On="uninstall" />
        <RemoveFolder Id="RemoveContentsDir" Directory="ContentsDir" On="uninstall" />
      </Component>

      <Component Id="AddinManifest" Guid="{3D50DA2B-5233-44C0-97FB-E935D1876BF1}" Directory="YearDir">
        <File Id="PlumbingSolutionAddin" Source="$(var.SourceRoot)\Output\PlumbingSolution.addin" />
        <RegistryValue Root="HKCU" Key="Software\FlashBim\PlumbingSolution2024" Name="Addin" Type="integer" Value="1"
                       KeyPath="yes" />
        <RemoveFolder Id="RemoveYearDir" Directory="YearDir" On="uninstall" />
      </Component>

      <Component Id="AddinAssemblies" Guid="{0D5D2388-B368-437B-92FE-1DDA669C3779}" Directory="AddinDir">
        <File Id="PlumbingSolutionDll" Source="$(var.BuildDir)\PlumbingSolution.dll" />
        <File Id="NewtonsoftJsonDll" Source="$(var.BuildDir)\Newtonsoft.Json.dll" />
        <!-- Thieu hwid.dll thi add-in khoa sach (HwidExpectedHash.cs). -->
        <File Id="HwidDll" Source="$(var.BuildDir)\hwid.dll" />
        <RegistryValue Root="HKCU" Key="Software\FlashBim\PlumbingSolution2024" Name="Assemblies" Type="integer" Value="1"
                       KeyPath="yes" />
        <RemoveFolder Id="RemoveAddinDir" Directory="AddinDir" On="uninstall" />
      </Component>

      <Component Id="AddinIcons" Guid="{43F17ABC-A52A-4C8B-84A4-83A819386ADE}" Directory="IconDir">
        <File Id="IconAbout" Source="$(var.SourceRoot)\Icon\About.psd-01.png" />
        <File Id="IconLicense" Source="$(var.SourceRoot)\Icon\Lincense.psd-01.png" />
        <File Id="IconSignin" Source="$(var.SourceRoot)\Icon\Signin.psd-01.png" />
        <File Id="IconLogo" Source="$(var.SourceRoot)\Icon\logo dai Flash BIM.png" />
        <File Id="IconPlumbing16" Source="$(var.SourceRoot)\Icon\PlumbingSolution_16x16.png" />
        <File Id="IconPlumbing32" Source="$(var.SourceRoot)\Icon\PlumbingSolution_32x32.png" />
        <RegistryValue Root="HKCU" Key="Software\FlashBim\PlumbingSolution2024" Name="Icons" Type="integer" Value="1"
                       KeyPath="yes" />
        <RemoveFolder Id="RemoveIconDir" Directory="IconDir" On="uninstall" />
      </Component>
      <!-- Tài nguyên của các tool đầu phun ghép từ Dirit: ảnh preview của form, file ngôn ngữ, family Pipe Fittings (form lọc family theo tên file ở đây). -->
      <Component Id="PreviewFire" Guid="{A37BC386-86FE-43B2-BDCB-17AA14BB463C}" Directory="PreviewFireDir">
        <File Id="PreviewFire_0" Source="$(var.SourceRoot)\Icon\Preview\DIRIT FIRE\C5_Sprinkler_Up_Connect_to_Tee.jpg" />
        <File Id="PreviewFire_1" Source="$(var.SourceRoot)\Icon\Preview\DIRIT FIRE\PhuongAnMem1.png" />
        <File Id="PreviewFire_2" Source="$(var.SourceRoot)\Icon\Preview\DIRIT FIRE\PhuongAnMem2.png" />
        <File Id="PreviewFire_3" Source="$(var.SourceRoot)\Icon\Preview\DIRIT FIRE\PhuongAnMem3.png" />
        <File Id="PreviewFire_4" Source="$(var.SourceRoot)\Icon\Preview\DIRIT FIRE\PhuongAnMem4.png" />
        <File Id="PreviewFire_5" Source="$(var.SourceRoot)\Icon\Preview\DIRIT FIRE\Phuongan1.png" />
        <File Id="PreviewFire_6" Source="$(var.SourceRoot)\Icon\Preview\DIRIT FIRE\Phuongan2.png" />
        <File Id="PreviewFire_7" Source="$(var.SourceRoot)\Icon\Preview\DIRIT FIRE\Phuongan3.png" />
        <File Id="PreviewFire_8" Source="$(var.SourceRoot)\Icon\Preview\DIRIT FIRE\Phuonganlen1.png" />
        <File Id="PreviewFire_9" Source="$(var.SourceRoot)\Icon\Preview\DIRIT FIRE\Phuonganlen2.png" />
        <File Id="PreviewFire_10" Source="$(var.SourceRoot)\Icon\Preview\DIRIT FIRE\Twin sprinkler_1.jpg" />
        <File Id="PreviewFire_11" Source="$(var.SourceRoot)\Icon\Preview\DIRIT FIRE\Twin sprinkler_2.jpg" />
        <File Id="PreviewFire_12" Source="$(var.SourceRoot)\Icon\Preview\DIRIT FIRE\Twin sprinkler_3.jpg" />
        <File Id="PreviewFire_13" Source="$(var.SourceRoot)\Icon\Preview\DIRIT FIRE\Twin sprinkler_4.jpg" />
        <File Id="PreviewFire_14" Source="$(var.SourceRoot)\Icon\Preview\DIRIT FIRE\Twin sprinkler_5.jpg" />
        <RegistryValue Root="HKCU" Key="Software\FlashBim\PlumbingSolution2024" Name="PreviewFire" Type="integer" Value="1"
                       KeyPath="yes" />
        <RemoveFolder Id="RemovePreviewFireDir" Directory="PreviewFireDir" On="uninstall" />
        <RemoveFolder Id="RemovePreviewDir" Directory="PreviewDir" On="uninstall" />
      </Component>

      <Component Id="PreviewMech2" Guid="{EC253D4C-9235-4ED5-A356-22CCF04EEF8F}" Directory="PreviewMech2Dir">
        <File Id="PreviewMech2_0" Source="$(var.SourceRoot)\Icon\Preview\DIRIT MECH 2\A_Dau phun huong xuong_Type 4.jpg" />
        <RegistryValue Root="HKCU" Key="Software\FlashBim\PlumbingSolution2024" Name="PreviewMech2" Type="integer" Value="1"
                       KeyPath="yes" />
        <RemoveFolder Id="RemovePreviewMech2Dir" Directory="PreviewMech2Dir" On="uninstall" />
      </Component>

      <Component Id="LanguageFiles" Guid="{1EFF75B3-CAD6-4449-BF49-69ED731A561A}" Directory="LanguageDir">
        <File Id="LanguageFiles_0" Source="$(var.SourceRoot)\Language\Language.csv" />
        <RegistryValue Root="HKCU" Key="Software\FlashBim\PlumbingSolution2024" Name="LanguageFiles" Type="integer" Value="1"
                       KeyPath="yes" />
        <RemoveFolder Id="RemoveLanguageDir" Directory="LanguageDir" On="uninstall" />
      </Component>

      <Component Id="PipeFittingFamilies" Guid="{C787CC10-9B5C-4070-915D-85FC47344FB2}" Directory="PipeFittingsDir">
        <File Id="PipeFittingFamilies_0" Source="$(var.SourceRoot)\Family\Pipe Fittings\DRT_Steel_Elbow Reducing - Threaded.rfa" />
        <File Id="PipeFittingFamilies_1" Source="$(var.SourceRoot)\Family\Pipe Fittings\Dirit_Cast Iron Coupling.rfa" />
        <File Id="PipeFittingFamilies_2" Source="$(var.SourceRoot)\Family\Pipe Fittings\Dirit_PPR Male Thread Adapter.rfa" />
        <File Id="PipeFittingFamilies_3" Source="$(var.SourceRoot)\Family\Pipe Fittings\Dirit_Steel Coupling.rfa" />
        <File Id="PipeFittingFamilies_4" Source="$(var.SourceRoot)\Family\Pipe Fittings\Dirit_Steel Flanges cho Van.rfa" />
        <File Id="PipeFittingFamilies_5" Source="$(var.SourceRoot)\Family\Pipe Fittings\Dirit_Steel Nipple.rfa" />
        <File Id="PipeFittingFamilies_6" Source="$(var.SourceRoot)\Family\Pipe Fittings\Dirit_uPVC Male Thread Adaptor.rfa" />
        <File Id="PipeFittingFamilies_7" Source="$(var.SourceRoot)\Family\Pipe Fittings\Dirit_uPVC Tien Phong Reducer.rfa" />
        <File Id="PipeFittingFamilies_8" Source="$(var.SourceRoot)\Family\Pipe Fittings\Dirit_uPVC Tien Phong Sanitary Tee.rfa" />
        <File Id="PipeFittingFamilies_9" Source="$(var.SourceRoot)\Family\Pipe Fittings\Dirit_uPVC Tien Phong Siphon.rfa" />
        <File Id="PipeFittingFamilies_10" Source="$(var.SourceRoot)\Family\Pipe Fittings\Dirit_uPVC Tien Phong Union.rfa" />
        <File Id="PipeFittingFamilies_11" Source="$(var.SourceRoot)\Family\Pipe Fittings\Dirit_uPVC TienPhong Cap End.rfa" />
        <File Id="PipeFittingFamilies_12" Source="$(var.SourceRoot)\Family\Pipe Fittings\Dirit_uPVC TienPhong Clean Out.rfa" />
        <File Id="PipeFittingFamilies_13" Source="$(var.SourceRoot)\Family\Pipe Fittings\Dirit_uPVC TienPhong Elbow.rfa" />
        <File Id="PipeFittingFamilies_14" Source="$(var.SourceRoot)\Family\Pipe Fittings\Dirit_uPVC TienPhong Y.rfa" />
        <RegistryValue Root="HKCU" Key="Software\FlashBim\PlumbingSolution2024" Name="PipeFittingFamilies" Type="integer" Value="1"
                       KeyPath="yes" />
        <RemoveFolder Id="RemovePipeFittingsDir" Directory="PipeFittingsDir" On="uninstall" />
        <RemoveFolder Id="RemoveFamilyDir" Directory="FamilyDir" On="uninstall" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
